<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="<%= require('./favicon.png') %>">
  <title>
    Try Yarn Spinner - Browser Based Game Dialogue Editor
  </title>
   <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@YarnSpinnerTool" />
  <meta name="twitter:creator" content="@YarnSpinnerTool" />
  <meta property="og:url" content="https://try.yarnspinner.dev" />
  <meta property="og:title" content="Try Yarn Spinner" />
  <meta property="twitter:description"
    content="Try Yarn Spinner, the friendly dialogue tool for games, in your browser." />
  <meta property="og:description" content="Try Yarn Spinner, the friendly dialogue tool for games, in your browser." />
  <meta property="twitter:image" content="<%= htmlWebpackPlugin.options.urlBase %><%= require('./try-yarn-spinner-twitter-large-image.png') %>" />
  <meta property="twitter:image:alt" content="Try Yarn Spinner" />
  <meta property="og:image" content="<%= htmlWebpackPlugin.options.urlBase %><%= require('./try-yarn-spinner-twitter-large-image.png') %>" />
</head>

<body>
  <div class="container-fluid h-100 d-flex flex-column">
    <div class="row p-3 flex-shrink-0 align-items-center" id="app-header">
      <div class="col-10">
        <img markup-inline height="70px" src="<%= require('./yarnspinner.svg') %>" id="logo" />
        <h1>Try Yarn Spinner <span id="header-beta">(beta)</span></h1>
        <p id="version" class="text-muted"><small>Version: <%= htmlWebpackPlugin.options.gitHash %><span
                id="yarn-spinner-version" class="d-none">, Yarn Spinner <span
                  id="yarn-spinner-version-value"></span></span></small></p>
      </div>
      <div class="col text-end">
        <button type="button" class="btn btn-primary" id="button-test">Test</button>
      </div>
    </div>
    <div class="row flex-fill justify-content-center" id="loader">
      <div class="col-1 p-5">
        <div class="spinner-border text-primary text-center" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
    <div class="row flex-fill d-none" id="app" style="min-height:0">
      <div class="col-6 mh-100">
        <div id="editor" class="h-100"></div>
      </div>

      <div class="col-6 pt-2 mh-100">
        <div class="container h-100 d-flex flex-column">
          <div class="row flex-fill mh-100" style="overflow-y: scroll;">
            <div class="col-12">

              <div id="controls">
                <div id="log-no-content" class="alert alert-primary">Click Test to play your conversation!</div>
                <div id="log" class="list-group">                  
                </div>
              </div>
            </div>
          </div>
          <div class="row flex-shrink-0 mt-3" style="max-height: 25%; overflow-y: scroll;">
            <div class="col-12">
              <div id="variables">
                <table class="table table-borderless">
                  <thead>
                    <th>Variable</th>
                    <th>Value</th>
                  </thead>
                  <tbody id="variables-body"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row flex-shrink-0" id="app-footer">
      <div class="col-12">
        <p>
          <a href="https://yarnspinner.dev">Yarn Spinner</a> is a project by <a href="https://secretlab.games">Secret Lab</a>.
          Download <a href="https://github.com/YarnSpinnerTool/YarnSpinner-Unity/releases/latest">Yarn Spinner for Unity</a>.
          Support us on <a href="https://patreon.com/secretlab">Patreon</a>.
          Follow us on <a href="https://twitter.com/YarnSpinnerTool">Twitter</a>.
          Read the <a href="https://docs.yarnspinner.dev">documentation</a>.
        </p>
        <p>This project has been assisted by the Australian Government through the <a href="https://australiacouncil.gov.au">Australia Council</a>, its arts funding and advisory body.</p>
      </div>
    </div>
  </div>
</body>

</html>
