<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="<%= require('./img/favicon.png') %>">
  <title>
    Yarn Spinner for Books - Choosable-Path Book Generator
  </title>
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@YarnSpinnerTool" />
  <meta name="twitter:creator" content="@YarnSpinnerTool" />
  <meta property="og:url" content="https://books.yarnspinner.dev" />
  <meta property="og:title" content="Yarn Spinner for Books" />
  <meta property="twitter:description"
    content="Create PDFs with branching storylines in your browser, using Yarn Spinner!" />
  <meta property="og:description"
    content="Create PDFs with branching storylines in your browser, using Yarn Spinner!" />
  <meta property="twitter:image"
    content="<%= htmlWebpackPlugin.options.urlBase %><%= require('./img/yarn-spinner-books-twitter-large-image.png') %>" />
  <meta property="twitter:image:alt" content="Try Yarn Spinner" />
  <meta property="og:image"
    content="<%= htmlWebpackPlugin.options.urlBase %><%= require('./img/try-yarn-spinner-twitter-large-image.png') %>" />
</head>

<body>
  <div class="container-fluid h-100 d-flex flex-column">
    <div class="row p-3 flex-shrink-0 align-items-center" id="app-header">
      <div class="col-xl d-flex justify-content-start align-items-center">
        <img markup-inline class="px-2" src="<%= require('./img/yarnspinner.svg') %>" id="logo" />
        <h1>Yarn Spinner for Books <span id="header-beta">(beta)</span></h1>
        <!-- <p id="version" class="text-muted">
          <small>
            Version: <%= htmlWebpackPlugin.options.gitHash %><span id="yarn-spinner-version" class="d-none">, Yarn Spinner
                <span id="yarn-spinner-version-value"></span></span>
          </small>
        </p> -->
      </div>
      <div class="col-xl-4 text-xl-end text-start d-flex flex-column">
        <div id="book-fields"
          class="d-flex flex-column flex-sm-row flex-xl-column p-1 justify-items-xl-end justify-items-start">
          <div class="p-1 flex-fill  d-flex flex-row align-items-center">
            <label for="book-title" class="px-1">Title:</label>
            <input id="book-title" class="flex-fill" placeholder="My Awesome Book" />
          </div>
          <div class="p-1 flex-fill d-flex flex-row align-items-center">
            <label for="book-author" class="px-1">Author:</label>
            <input id="book-author" class="flex-fill" placeholder="Doctor Science, PhD, MD, USB" />
          </div>
        </div>
        <div class="p-1 d-flex flex-row justify-content-center justify-content-xl-end">
          <button type="button" class="mx-2 btn btn-primary" id="button-download-pdf">
            <img id="button-download-pdf-icon" markup-inline height="24"
              src="<%= require('./img/Page-DownArrow.svg') %>" />
            <div id="button-download-pdf-spinner" class="d-none spinner-border spinner-border-sm"></div>
            Download Book
          </button>
          <button type="button" class="mx-2 btn btn-primary" id="button-test"><img markup-inline height="24px"
              src="<%= require('./img/Play.svg') %>" /> Test</button>
        </div>
      </div>
    </div>

    <div class="d-lg-none row p-3 justify-content-center" id="app-tabs">
      <div class="col-12">
        <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Play mode">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="mode-selector btn btn-secondary" data-mode-select="code"
              data-submode-select="live">Write</button>
            <button type="button" class="mode-selector btn btn-secondary" data-mode-select="test"
              data-submode-select="live">Play</button>
            <button type="button" class="mode-selector btn btn-secondary" data-mode-select="test"
              data-submode-select="pdf">PDF</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row flex-fill justify-content-center" id="loader">
      <div class="col-1 p-5">
        <div class="spinner-border text-primary text-center" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>

    <div class="row flex-fill d-none" id="app" style="min-height:0">
      <div id="mode-code" class="d-lg-block col-12 col-lg-6 mh-100">
        <div id="editor" class="h-100"></div>
      </div>
      <div id="mode-test" class="d-lg-block col-12 col-lg-6 pt-2 mh-100  overflow-auto">
        <div class="container h-100 d-flex flex-column">
          <div class="row d-none d-lg-block flex-shrink-0 mb-3">
            <div class="col">
              <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Play mode toolbar">
                <div class="btn-group mr-2" role="group" aria-label="Play mode">
                  <button type="button" class="mode-selector btn btn-secondary" data-mode-select="test"
                    data-submode-select="live">Play</button>
                  <button type="button" class="mode-selector btn btn-secondary" data-mode-select="test"
                    data-submode-select="pdf">PDF</button>
                </div>
              </div>
            </div>
          </div>
          <div id="submode-live">

            <div class="row flex-fill mh-100" style="overflow-y: scroll;">
              <div class="col-12">

                <div id="controls">
                  <div id="log-no-content" class="alert alert-primary">Click Test to test your book!</div>
                  <div id="log" class="list-group">
                  </div>
                </div>
              </div>
            </div>
            <div class="row flex-shrink-0 mt-3" style="max-height: 25%; overflow-y: scroll;">
              <div class="col-12">
                <div id="variables">
                  <table class="table table-borderless">
                    <thead>
                      <th>Variable</th>
                      <th>Value</th>
                    </thead>
                    <tbody id="variables-body"></tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
          <div class="row flex-fill" id="submode-pdf">
            <div class="col-12 d-flex flex-column">

              <div id="pdf-generate-alert" class="alert alert-primary">
                  Click 'Update Book' to update your book!
              </div>
              <button id="generate-book" class="mb-1 btn btn-primary">Update Book</button>
              <div class="d-flex justify-content-center">
                <div class="d-none spinner-border" id="pdf-generate-spinner" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
              <iframe id="book-embed" class="d-none flex-grow-1"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row flex-shrink-0 d-none" id="app-footer">
      <div class="col-12">
        <p>
          <a href="https://yarnspinner.dev">Yarn Spinner</a> is a project by <a href="https://secretlab.games">Secret
            Lab</a>.
          Learn more about Yarn Spinner by reading the <a href="https://docs.yarnspinner.dev">documentation</a>.
          Join the project's <a href="https://discord.gg/yarnspinner">Discord</a> server.
          Support us on <a href="https://patreon.com/secretlab">Patreon</a>.
          Follow us on <a href="https://twitter.com/YarnSpinnerTool">Twitter</a>.
        </p>
      </div>
    </div>
  </div>
</body>

</html>