<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <div class="container-fluid h-100 d-flex flex-column">
    <div class="row p-3 mb-5 border-bottom flex-shrink-0 align-items-center">
      <div class="col-10">
        <h1>Yarn Spinner for JS</h1>
        <p id="version" class="text-muted"><small>Version: <%= htmlWebpackPlugin.options.gitHash %><span
                id="yarn-spinner-version" class="d-none">, Yarn Spinner <span
                  id="yarn-spinner-version-value"></span></span></small></p>
      </div>
      <div class="col text-end">
        <button type="button" class="btn btn-primary" id="button-test">Test</button>
      </div>
    </div>
    <div class="row  flex-fill justify-content-center" id="loader">
      <div class="col-1">
        <div class="spinner-border text-primary text-center" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
    <div class="row flex-fill d-none" id="app" style="min-height:0">
      <div class="col-6 mh-100">
        <div id="editor" class="h-100"></div>
      </div>

      <div class="col-6 mh-100">
        <div class="container h-100 d-flex flex-column">
          <div class="row flex-fill mh-100" style="overflow-y: scroll;">
            <div class="col-12">

              <div id="controls">

                <div id="log" class="list-group"></div>
              </div>
            </div>
          </div>
          <div class="row flex-shrink-0 mt-3" style="max-height: 25%; overflow-y: scroll;">
            <div class="col-12">
              <div id="variables">
                <table class="table table-borderless">
                  <thead>
                    <th>Variable</th>
                    <th>Value</th>
                  </thead>
                  <tbody id="variables-body"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row flex-shrink-0">
      <div class="col-12">
        <p><a href="https://yarnspinner.dev">Yarn Spinner</a> is a project by <a href="https://secretlab.games">Secret Lab.</a></p>
      </div>
    </div>
  </div>
</body>

</html>