name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - name: Clone Try Yarn Spinner
        uses: actions/checkout@v2
        with:
          submodules: true
          repository: YarnSpinnerTool/try.yarnspinner.dev
          path: TryYarnSpinner
          fetch-depth: 0

      - name: Clone Language Server
        uses: actions/checkout@v2
        with:
          submodules: true
          repository: YarnSpinnerTool/YarnSpinner-LanguageServer
          path: YarnSpinner-LanguageServer
          fetch-depth: 0
          token: ${{ secrets.YS_LANGUAGESERVER_TOKEN }}

      - name: Clone Yarn Spinner
        uses: actions/checkout@v2
        with:
          repository: YarnSpinnerTool/YarnSpinner
          ref: paris-improvements-forvscode-and-playground
          path: YarnSpinner
          fetch-depth: 0

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.4.1

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - uses: gittools/actions/gitversion/setup@v0.9.10
        name: Install GitVersion
        with:
          versionSpec: "6.x"

      # Update the version info for the version of Yarn Spinner we're about to
      # build
      - uses: gittools/actions/gitversion/execute@v0.9.10
        name: Execute GitVersion
        with:
          targetPath: ./YarnSpinner
          updateAssemblyInfo: true

      - name: Build compiler service JS package
        working-directory: ./YarnSpinner-LanguageServer/YarnSpinner.PlaygroundCompilerService
        run: |
          npm ci
          npm run build

      - name: Build Try backend
        working-directory: ./TryYarnSpinner
        run: |
          dotnet workload restore --project backend/Backend.WASM.csproj
          npm run backend

      - name: Install Try frontend dependencies
        working-directory: ./TryYarnSpinner
        run: |
          npm ci
          npm run build

      - name: Build and Deploy to Azure
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_PROUD_MEADOW_05B0B9E1E }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: "upload"
          ###### Repository/Build Configurations - These values can be configured to match your app requirements. ######
          # For more information regarding Static Web App workflow configurations, please visit: https://aka.ms/swaworkflowconfig
          app_location: "TryYarnSpinner/dist" # App source code path
          api_location: "" # Api source code path - optional
          output_location: "" # Built app content directory - optional
          skip_app_build: true
          ###### End of Repository/Build Configurations ######
