name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
      - preview
  workflow_dispatch:

env:
  # Builds from the main branch go to production; builds on other branches go to
  # preview
  SWA_ENVIRONMENT: ${{ github.ref == 'refs/heads/main' && 'production' || 'preview' }}

jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - name: Clone Try Yarn Spinner
        uses: actions/checkout@v2
        with:
          submodules: true
          repository: YarnSpinnerTool/try.yarnspinner.dev
          path: TryYarnSpinner
          fetch-depth: 0

      - name: Clone Language Server
        uses: actions/checkout@v2
        with:
          submodules: true
          repository: YarnSpinnerTool/YarnSpinner-LanguageServer
          path: YarnSpinner-LanguageServer
          fetch-depth: 0
          token: ${{ secrets.YS_LANGUAGESERVER_TOKEN }}

      - name: Clone Yarn Spinner
        uses: actions/checkout@v2
        with:
          repository: YarnSpinnerTool/YarnSpinner
          ref: paris-improvements-forvscode-and-playground
          path: YarnSpinner
          fetch-depth: 0

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          registry-url: "https://npm.pkg.github.com"
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Install SWA CLI
        run: |
          npm install -g @azure/static-web-apps-cli
          echo -n "SWA Version: "
          swa --version

      - uses: gittools/actions/gitversion/setup@v0.9.10
        name: Install GitVersion
        with:
          versionSpec: "6.x"

      # Update the version info for the version of Yarn Spinner we're about to
      # build
      - uses: gittools/actions/gitversion/execute@v0.9.10
        name: Execute GitVersion
        with:
          targetPath: ./YarnSpinner
          updateAssemblyInfo: true

      - name: Build compiler service JS package
        working-directory: ./YarnSpinner-LanguageServer/YarnSpinner.PlaygroundCompilerService
        run: |
          npm ci
          npm run build

      - name: Install Try frontend dependencies
        working-directory: ./TryYarnSpinner
        run: |
          npm ci

      - name: Build Try backend
        working-directory: ./TryYarnSpinner
        run: |
          dotnet workload restore --project backend/Backend.WASM/Backend.WASM.csproj
          npm run backend

      - name: Build Try frontend
        working-directory: ./TryYarnSpinner
        run: |
          npm run build

      # Deploy the site to the appropriate environment
      - name: Deploy Try to Azure Static Web Apps
        working-directory: ./TryYarnSpinner
        run: |
          swa deploy --env ${{ env.SWA_ENVIRONMENT }} ./dist
        env:
          SWA_CLI_DEPLOYMENT_TOKEN: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_PROUD_MEADOW_05B0B9E1E }}
